@import '../../styles/base';

$background: #10032b;
$black: #000;
$white: #fff;
$dark-grey: #3e434a;
$grey: lightslategray;
$red: darkred;
$gold: #b59507;


.submit-button {
    background-color: $gold !important;
    margin-top: 1em;
}

.submit-button:hover {
    filter: brightness(120%);
}