$background: #10032b;
$black: #000;
$white: #fff;
$dark-grey: #3e434a; 
$grey: lightslategray;



.app-container {
    height: 100vh;
    background-color: $background;
}

.main-view-style {
    padding-top: 50px;
}
