@import '../../styles/base';

$background: #10032b;
$black: #000;
$white: #fff;
$dark-grey: #ffffff;
$grey: lightslategray;
$red: #910a00;
$gold: #b59507;


.white-text,
.form-label,
.add-favorite-message {
    color: $white;
}

.profile-view .documentary-card img {
    width: 100%;
    object-fit: fill;
    height: 20em !important;
}

.update-button {
    margin-right: 5px;
}


.header-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-input {
    background-color: $grey !important;
}

.profile-form {
    background: $white;
    padding: 1rem;
}

.form-label-style {
    color: $black !important;
}

.favorite-title {
    color: $white;
}

.sub-title {
    font-weight: 300;
}

.update-button,
.remove-button {
    background-color: $dark-grey !important;
    border-color: $black !important;
}

.delete-button {
    background-color: $red !important;
    border-color: $black !important;
}

.current-profile.card-body {
    padding: 20px;
}

.favorite-title {
    text-align: center;
}

/* Styles for screens with width up to 1024px and height up to 1380px */
@media (max-width: 1024px) and (max-height: 1380px) {
    .profile-view .documentary-card img {
        height: 12em !important;
    }

}

/* Styles for screens with width between 1025px and 1440px, and height up to 1380px */
@media (min-width: 1025px) and (max-width: 1440px) and (max-height: 1380px) {
    .profile-view .documentary-card img {
        height: 16em !important;
    }

}

/* Styles for screens with width greater than 1440px, and height up to 1380px */
@media (min-width: 1441px) and (max-height: 1380px) {
    .profile-view .documentary-card img {
        height: 16em !important;
    }
}

/* Styles for screens with width greater than or equal to 2560px, and height up to 1380px */
@media (min-width: 1600px) and (max-height: 1380px) {
    .profile-view .documentary-card img {
        height: 20em !important;
    }
}