$background: #10032b;
$black: #000;
$white: #fff;
$blue: #007bff; 
$grey: lightslategray;

.app-container {
    height: 100vh;
    background-color: $background;
}

.documentary-card {
    position: relative;
}

.documentary-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.overlay {
    position: absolute;
    background: rgba(0,0,0,0.8);
    /*width: 38rem;
    height: 25rem;*/
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 1rem;
    padding: 5%;
    text-align: center;
    color: white;
    flex-direction: column;
}

.image-container:hover .overlay {
    opacity: 1;
}

.documentary-card-title, .detail-button  {
    color: $grey !important;
}

.image-container {
    margin: 0;
}

