$background: #10032b;
$black: #000;
$white: #fff;


.app-container {
    height: 100vh;
    background-color: $background;
}

.documentary-card {
    position: relative;
    transition: transform 0.2s;
}

.documentary-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}