@import '../../styles/base';

$background: #10032b;
$black: #000;
$white: #fff;
$dark-grey: #3e434a;
$grey: lightslategray;
$red: #910a00;
$gold: #b59507;





.add-favorites,
.remove-favorites {
    border-color: $black !important;
}

.add-favorites {
    background-color: $dark-grey !important;
}

.remove-favorites {
    background-color: $red !important;
}

.favorite-buttons {
    display: grid;
}

.documentary-view {
    display: flex;
    justify-content: center;
}

img.card-img.documentary-poster {
    height: 50em;
}

div.documentary-viewCard.card {
    height: 50em;
    width: 40em;
}

div.card-body {
    background-color: $white;
}