$background: #10032b;
$black: #000;
$white: #fff;
$dark-grey: #3e434a; 
$grey: lightslategray;



.app-container {
    height: 100%;
    background-color: $background;
}

.add-favorites, .remove-favorites {
    background-color: $dark-grey !important;
    border-color: $black !important;
}

.favorite-buttons {
    display: grid;
}