@import '../../styles/base';

$background: #10032b;
$black: #000;
$white: #fff;
$dark-grey: #3e434a;
$grey: lightslategray;
$gold: #b59507;
$red: darkred;



.login-button,
.register-button {
    border-color: $black !important;
}

.login-button {
    background-color: $gold !important;
    border: 1px solid $white !important;
}

.login-button:hover {
    filter: brightness(120%);
}

.register-button {
    color: $white !important;
    background-color: $dark-grey !important;
    border: 1px solid $white !important;
}

.register-button:hover {
    filter: brightness(120%);
}

.button-container {
    padding-top: 1rem;
}

.login-input {
    width: 30rem !important;
}